// form
.form-subscribe {
    width: 350px;
    @include mobile {
        width: 100%;
    }

    input[type=email] {
        width: 61.5%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type=submit] {
        background-color: $accent;
        color: $white;
        width: 38.5%;
        border: 1px solid $accent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:hover, &:focus {
            background-color: $accent-dark;
            border: 1px solid $accent-dark;
        }
    }
}

.form-order {
    input {
        width: 100%;
        padding: $spacer *.5 0  $spacer *.5 $spacer *.75 ;
        border-color: $gray-400;
        border-style: solid;
        border-radius: 0.25rem;
    }
}