// cart-list modal
.modal.right .modal-dialog {  //展開畫面會閃動，是否可以改善？
    position: fixed;
    top: 84px;
    right: 0;
    width: 100%;
    height: 88vh;
    margin: 0;
    transform: translate3d(0%, 0, 0);
}
  
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background: $black;
    padding-right: 15px;
    ::-webkit-scrollbar {
        width: 2px;  
        background-color: $white;
    }    
    ::-webkit-scrollbar-track {
        background-color: $white;
    }     
    ::-webkit-scrollbar-thumb {
        background-color: $accent;
    }
}

.modal {
    &-content {
        border-radius: 0;
        border: none;
    }
    &-header {
        border-bottom: none;
    }
    &-title {
        font-size: $h2-font-size;
        @include mobile {
            font-size: $h4-font-size;
        }
    }
    &-footer {
        border-top: none;
        @include mobile {
            flex-direction: column;
        }
        &-content {
          font-size: $h5-font-size;
        }
        button {
            width: 118px;
        }
    }
}

