.nav-main {
    max-width: 748px;
    padding: $spacer * 0.875 0;
    @include pad { // pad會掉下來
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
    }
    li {
        width: 65px;
        margin-right: $spacer * 1.125;
        .nav-main-link {
            width: 100%; 
            padding: 3px 0;
            border-bottom: 1px solid $white;
            &:hover {
                border-bottom: 1px solid $accent; 
            }
        }
    }
}